<% include partials/header.ejs %>
<% include partials/navbar.ejs %>
        <main class="container">
            <h1>
                <img src="/images/BBLogo.png" class="img-responsive" id="bb-logo" alt="BB Logo">
            </h1>
            <h2>
                <a href="/people" id="people-home">People</a>
            </h2>
        </main>
<% include partials/footer.ejs %>