/* custom style sheet */
#bg{
    background: black url('../images/BBSplash.jpg') no-repeat center top; 
    background-size: 100% cover;
}
#bb-logo{
    padding-top: 350px;
    padding-left: 410px;
    padding-bottom: 80px;
}
body{
    background-color: black;
    color: green; 
}
#walter{
    width: 33%;
}
#jesse{
    width: 33%;
}
#hank{
    width: 33%;
}
#walter h2, #jesse h2, #hank h2{
    color: white;
    text-align: center;
}
#walter p, #jesse p, #hank p{
    color: green;
    text-align: center;
}
a, h1 {
    color: white;
}