/* custom style sheet */
#bg{
    background: black url('../images/BBSplash.jpg') no-repeat center top scroll; 
    background-size: 100% cover;
    height: 900px;
    width: 900px;
}
#bb-logo{
    margin-top: 300px;
    margin-left: 300px;
}
body{
    background-color: black;
    color: green; 
}
#people-home{
    margin-left: 420px;
    text-transform: uppercase;
}
#walter{
    width: 33%;
}
#jesse{
    width: 33%;
}
#hank{
    width: 33%;
}
#walter h2, #jesse h2, #hank h2{
    color: white;
    text-align: center;
}
#walter p, #jesse p, #hank p{
    color: green;
    text-align: center;
}
a, h1 {
    color: white;
}